/test/check1.json
/test/add_players.json
/test/check
/test/check.json
/test/check_json.py
/test/dfb.py
/test/example.log
/test/oop_example.py
/test/myfile.txt
/test/players_info.json
/test/test.py
/test/test0.py
/test/test1.py
/test/test2.py
/test/test3.py
/test/test4.py
/test/test5.py
/test/test6.py
/test/test7.py
/test/test8.py
/test/test9.py
/test/test10.py
/test/test11.py
/test/test_c.py
/test/test_client.py
/test/test_s.py
/test/test_server.py
/test/test_event.py
/test/test_gui.py
/test/test_gui1.py
/test/test_gui3.py
/test/test_kill_recv.py
/test/test_kill_recv_client.py